@import url('./Assets/Fonts/fonts.css');

/*----------------------------------------GENERAL DEFINITIONS----------------------------------------*/

:root {
    --base: #ECE6E6;
    --text: #181818;
    --title_picture_width: 30vw;
    --navwidth: 35vw;
}

html {
    cursor: none;
    background: var(--base);
    font-family: regular;
}

.header {
    font-size: var(--headersize);
    font-family: "extrabold";
}

#cursor {
    top: calc(100vh / 2 - 10px);
    left: calc(100vw / 2 - 10px);
    position: fixed;
    height: 20px;
    width: 20px;
    background: var(--base);
    mix-blend-mode: difference;
    filter: blur(2px);
    border-radius: 50%;
    pointer-events: none;
}

/*----------------------------------------TITLE CONTENT----------------------------------------*/

.title {
    position: absolute;
}

.title.header {
    left: 20vw; 
}

.title.subheader {
    left: 21vw; 
    font-size: var(--subheadersize);
}

.title.picture {
    left: 60vw;
    width: var(--title_picture_width);
    height: calc(var(--title_picture_width) / 2 * 3);
    background: var(--base);
    border-radius: 20px;
}

.logo {
    font-family: "logo";
}

.scroll.container {
    width: 20vw;
}

.scroll.arrow {
    left: 18vw;
    position: sticky;
}

.scroll.text {
    left: 21vw; 
    width: 36vw;
    font-size: var(--subheadersize);
}

/*----------------------------------------NAVIGATION----------------------------------------*/

.nav.background {
    top: -20vh;
    right: 0vw;
    position: absolute;
    height: 140vh;
    width: 0vw;
    background: var(--base);
    filter: blur(40px);
    -webkit-filter: blur(40px);
    transition: width 1s ease-in-out;
    -webkit-transition: width 1s ease-in-out;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.nav.arrow {
    top: 64px;
    right: 0px;
    position: absolute;
    height: 3vw;
    width: 6vw;
    transition: transform 1s ease-in-out, left 1s ease-in-out;
    transform: translateX(0) rotate(0deg);
}

.nav.container {
    right: 0vw;
    position: absolute;
    width: 0vw;
    transition: width 1s ease-in-out;
    align-items: flex-start; 
    display: inline-flex;
    flex-direction: column; 
    justify-content: flex-start; 
    overflow: hidden;
}

.nav.subcontainer {
    position: absolute;
    align-items: flex-start; 
    align-self: stretch; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
}

.nav.subcontainer.other {
    bottom: 0px;
}

.nav.about.contact {
    top: 0.4vw;
    position: relative;
}

.nav.header.about.contact {
    left: 0.4vw;
    font-size: var(--textsize);
}

.nav.links.about.contact {
    left: 0vw;
    position: relative;
    height: 1.83vw;
    white-space: nowrap;
}

.nav.header {
    font-size: var(--navheadersize); 
}

.nav.link {
    left: 0.4vw;
    position: relative;
    color: var(--text);
    font-size: var(--textsize); 
    text-decoration: none;
    cursor: none;
}

.nav.text.about {
    left: 0.4vw;
    position: relative;
    width: calc(var(--navwidth) - 16vw); 
    font-size: var(--textsize);
    word-wrap: break-word;
}

.nav.email {
    width: 10vw;
}

.nav.linkedin {
    top: 5px;
    left: 1vw;
    position: relative;
}

.nav.github {
    top: 2px;
    position: relative;
    margin-left: 2vw;
}

/*----------------------------------------ALBUMS----------------------------------------*/

.album.container {
    left: 16vw;
    position: absolute;
    width: 68vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12vw;
}

.album.subcontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 6.4vw;
}

.album.header {
    width: 100%;
    font-size: var(--albumheadersize);
    word-wrap: normal;
}

.album.image {
    height: auto;
    width: 100%;
    border-radius: 20px;
}

.album.image.portrait {
    height: auto;
    width: 30.8vw;
}

.album.image.floater {
    position: sticky;
}

.album.image.portrait.offset {
    margin-left: 37.2vw;
}
